<div class="p-3">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h2>Etudiants</h2>
                <button *ngIf="authService.isAdmin()" class="btn btn-success"
                    (click)="handleNewEtudiant()"
                >Add New</button>
            </div>
            <!-- Search -->
            <div class="card-body d-flex">
                <!-- {{keyword}} -->

            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th>id</th> <th>Nom</th> <th>Prenom</th> <th>Update</th> <th>Delete</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let etudiant of etudiants">
                        <td>
                            <!-- <a routerLink="`api/admin/etudiants/${etudiant.id}`"> -->
                            <a (click)="handleShowEtudiant(etudiant)">
                                {{etudiant.id}}
                            </a>
                        </td>
                        <td>{{etudiant.nom}}</td>
                        <td>{{etudiant.prenom}}</td>
                        <td *ngIf="authService.isAdmin()">
                            <button
                                (click)="handleEditEtudiant(etudiant)"
                                class="btn btn-outline-success"
                            >
                                <i class="bi bi-pen"></i>
                            </button>
                        </td>
                        <td *ngIf="authService.isAdmin()">
                            <button
                                (click)="handleDeleteEtudiant(etudiant)"
                                class="btn btn-outline-danger"
                            >
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>         