<nav class="p-3 d-flex justify-content-between">
    <ul class="nav nav-pills">
        <li *ngFor="let action of actions">
            <button 
                    (click) = "setCurrentAction(action)"
                    routerLink="{{action.route}}"
                    [class]="action == currentAction ? 'btn btn-success ms-1' : 'btn btn-outline-success ms-1' "
                >
                {{action.title}}     
                <i class="bi bi-{{action.icon}} text-success"></i>
            </button>
        </li>
    </ul>

    <div class="right">
        <button class="btn btn-outline-danger ms-1">
            Connextion
        </button>
    </div>
</nav>