<div class="session p-3">
    <div *ngIf="session" class="card" >
        <div class="card-header d-flex justify-content-between">
            <h3>Session {{session.id}} | ( {{session.dateDeDebut}} - {{session.dateDeFin}})</h3>
            <button *ngIf="authService.isAdmin()" class="btn btn-outline-success">Nouveau Cours</button>
        </div>

        <div class="card-body">
            <table *ngIf="coursList" class="table">
                <thead>
                    <tr>
                        <th>id</th> <th>matiere</th> <th>salle</th> <th>actions</th>
                    </tr>
                </thead>

                <tbody *ngFor="let c of coursList">
                    <tr>
                        <td>{{c.id}}</td> 
                        <td>{{c.matiere}}</td> 
                        <td>{{c.salle}}</td> 
                        <td *ngIf="authService.isAdmin()"><button class="btn btn-outline-success">Modifier</button></td>
                        <td *ngIf="authService.isAdmin()"><button class="btn btn-outline-danger">Suprimer</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>