<div class="mid-form p-3">
    <div class="card">
        <div class="card-header">
            <div class="title p-3 text-center">
                <h4>Nouveau Etudiant</h4>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="">
                    <form [formGroup]="formGroup" (ngSubmit)="saveEtudiant()" >
                        <div class="mb-3">
                            <label for="" class="form-label">Nom</label>
                            <input type="text" class="form-control" formControlName="nom">
                        </div>
                        <div class="mb-3">
                            <label for="" class="form-label">Prenom</label>
                            <input type="text" class="form-control" formControlName="prenom">
                        </div>
                        <button [disabled]="formGroup.invalid" class="form-control btn btn-success mt-3 p-3">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {{formGroup.value | json}} -->