<div>

    <h1>Contactez nous </h1>
    <p>
        Une question, une suggestion, un projet, une envie ? 
        Vous souhaitez vous orienter vers les métiers du numérique ?
        Participer à nos sessions d’informations ?
        Découvrir les métiers tech ?
        Rencontrer nos équipes pédagogiques ?
        Recevoir de la documentation sur les filières
        ​​​​​​​professionnelles ?
        Découvrir les formations proposées dans votre région ?
        ​​​​​​​
        Veuillez nous contacter :
        📞 par téléphone au +33 X XX XX XX
ou via le formulaire de contact ci-joint👇

    </p>


</div>

<button class="bi bi-envelope-at-fill">Contactez-nous</button>

