
    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-decoration-none text-white"
            style="background-color: #3e4551"
            >
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">SE FORMER, SE CERTIFIER SE QUALIFIER</h5>
  
              <p class="text-justify">
               Ce sont des démarches clés pour améliorer ses compétences et ses valeurs sur le marché du travail,ouvrir de nouvelles opportunités professionnelles et garantir une carrière solide.
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Nos campus</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-decoration-none text-white">Aix en provence</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Paris</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Lyon</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Nantes</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Nos offres</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-decoration-none text-white">Offres de formation</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Offres de certification</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Offres personnalisées</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Offres de partenariat</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Aides</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-decoration-none text-white">FAQ</a>
                </li>
                <li>
                  <a href="api/contactez-nous" class="text-decoration-none text-white">Contact</a>
                </li>
                <li>
                  <a href="api/presse" class="text-decoration-none text-white">Presse</a>
                </li>
                <li>
                  <a href="api/presse" class="text-decoration-none text-white">Blog</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">À propos</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-decoration-none text-white ">Devenir formateur</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Rejoindre nos équipes</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Mentions légales</a>
                </li>
                <li>
                  <a href="#!" class="text-decoration-none text-white">Plan du site</a>
                </li>
              </ul>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
  
        <!-- Section: Social media -->
        <section class="mb-4 text-center">
          <!-- Facebook -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="bi bi-facebook"></i
            ></a>
  
          <!-- Twitter -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="bi bi-twitter-x"></i></a>
  
          <!-- Google -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="bi bi-google"></i></a>
  
          <!-- Instagram -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="bi bi-instagram"></i></a>
  
          <!-- Linkedin -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="bi bi-linkedin"></i></a>
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2023 Copyright : IT Training
       
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
 