<section *ngIf="catalogue" class="p-3">
    <div class="card">
        <div class="card-header">
            <div class="card-title d-flex justify-content-between">
                <h3 class="mt-2">Catalogue</h3>
                <div class="actions">
                    <button *ngIf="authService.isAdmin()" class="btn btn-outline-success mt-2 mr-2"
                        (click)="handleNewFormation()"
                    >Add New</button>
                    <button class="btn btn-outline-success mt-2 mr-2"
                        routerLink="/api/catalogue"
                    >
                        Tree
                    </button>
                    <button class="btn btn-outline-info mt-2 ml-1"
                        routerLink="/api/formations"
                    >
                        List
                    </button>
                </div>
            </div>
        </div>
        <div class="card-body">

            <!-- <app-formations></app-formations> -->
            <app-theme-tree></app-theme-tree>

        </div>
    </div>   
</section>   